{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
{#
    Formulario de registro.
    Usamos 'form_start' y 'form_end' para que Symfony pinte todo lo necesario (CSRF tokens, etc).
#}
<div class="container my-5">
    <div class="row justify-content-center">
                <div class="mb-3">
                    {{ form_row(registrationForm.plainPassword) }}
                </div>

                <div class="mb-3">
                    {{ form_row(registrationForm.agreeTerms, {
                        'label': 'Acepto los términos y condiciones'
                    }) }}
                </div>

                <button type="submit" class="btn btn-primary">Registrarse</button>
                <a href="{{ path('app_login') }}" class="btn btn-secondary">¿Ya tienes cuenta?</a>

            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}